.Home{
    padding: 18vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.adAlma{
    margin:0;
}

.Title{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding:0 0 5vh 0;
    
}
.slogan{
    margin:0;
}
.home-logo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.home-botoes{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    width: 36vw;
}