

/* Estilos para o menu de navegação */
.ant-menu-horizontal {
    border-bottom: 2px solid #e8e8e8;
  }
  
  /* Estilos para o formulário */
  .form-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .form-container h1 {
    margin-bottom: 16px;
    color: #333; 
  }
  
  
  .ant-input {
    margin-bottom: 20px;
  }
  

  .ant-select {
    margin-bottom: 20px;
  }
  
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
