.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px; /* Tamanho da logo */
  height: auto; /* Proporção da imagem é mantida */
  margin-left: auto;
  margin-right: auto;
}

.menu-fixed-top {
  top: 0;
  z-index: 1000; 
  width: 100%;
  left: 0;
  right: 0;
  display: flex; 
  justify-content: center; 
  background-color: #fff;
  border-bottom: 3px solid #26B0E6; 
  
}

.ant-menu-horizontal {
  width: 100%; 
  display: flex;
  border-bottom: none; 
}
.ant-menu-item-selected {
  background-color: #007bff;
  font-weight: bold;
  color: #ffffff;
}

.ant-menu-item:hover {
  background-color: transparent;
  color: #ffffff; 
}
