/* BipagemFinalizada.css */

/* Altera o tamanho da div que engloba o componente */
.divContainerB {
  margin: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  /* border: 1px solid #ccc; */ /* Apenas para visualização, pode remover se desejar */
  /* border-radius: 5px; */ /* Apenas para dar um pouco de estilo */ 
}

/* Altera a cor do texto dos parágrafos */
.paragraphTextB {
  color: #000000; /* Escolha a cor desejada, esta é apenas um exemplo */
}

.infoContainerB {
  display: flex; /* ativa o Flexbox */
  justify-content: space-between; /* espaça os elementos uniformemente */
  align-items: center; /* centraliza os elementos verticalmente */
  gap: 10px; /* opcional: adiciona espaço entre os elementos */
}

.infoTextRedB, .infoTextYellowB {
  flex-grow: 0;
  margin: 5px;
}

.infoTextRedB, .infoTextYellowB {
  width: calc(50% - 10px);
}

.infoTextRedB{
  border: 3px solid #FA7474;
  border-radius: 7px;
  padding: 10px;
}

.infoTextYellowB{
  border: 3px solid #FADC74;
  border-radius: 7px;
  padding: 10px;
}

.infoButtonContaineB{
  display: flex; /* ativa o Flexbox */
  justify-content: space-between; /* espaça os elementos uniformemente */
  align-items: center; /* centraliza os elementos verticalmente */
  gap: 10px; /* opcional: adiciona espaço entre os elementos */
  width: calc(30% - 10px); /* Subtrai o espaço do gap dividido por dois */
}
