/* BipagemFinalizada.css */

/* Altera o tamanho da div que engloba o componente */
.divContainer {
    margin: 50px 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /* border: 1px solid #ccc; */ /* Apenas para visualização, pode remover se desejar */
    /* border-radius: 5px; */ /* Apenas para dar um pouco de estilo */ 
  }
  
  /* Altera a cor do texto dos parágrafos */
  .paragraphText {
    color: #000000; /* Escolha a cor desejada, esta é apenas um exemplo */
  }

  .infoContainer {
    display: flex; /* ativa o Flexbox */
    justify-content: space-between; /* espaça os elementos uniformemente */
    align-items: center; /* centraliza os elementos verticalmente */
    gap: 10px; /* opcional: adiciona espaço entre os elementos */
  }

  .infoTextRed, .infoTextYellow {
    flex-grow: 0;
    margin: 5px;
  }

  .infoTextRed, .infoTextYellow {
    width: calc(50% - 10px);
  }

  .infoTextRed{
    border: 3px solid #FA7474;
    border-radius: 7px;
    padding: 10px;
  }

  .infoTextYellow{
    border: 3px solid #FADC74;
    border-radius: 7px;
    padding: 10px;
  }

  .infoButtonContainer{
    width: 100%;
    justify-content: space-between; /* espaça os elementos uniformemente */
    align-items: center; /* centraliza os elementos verticalmente */
    gap: 10px; /* opcional: adiciona espaço entre os elementos */
  }
  