.App {
    display: inline;
  }
  
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    color: black;
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
  
  }
  
  h1{
    color: #6A2FF5;
  }
  
  h2{
    color: #3E82EB;
  }